.container {
    display: flex;
    background-color: orange;
    width: auto;
    height: auto;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.container1 {
    display: flex;
    background-color: blue;
    width: auto;
    height: 100px;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    /* flex-wrap: wrap; */
    align-items: center;
    /* overflow: scroll; */

}

.container .navbar {
    height: 50px;
    width: 100px;
    margin: 10px;
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
    font-size: 20px;
    /* padding-right: 5px; */
    /* position:relative; */
}

.container .navbar1 {
    height: 50px;
    width: 100px;
    margin: 10px;
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
    font-size: 20px;

    /* padding-right: 5px; */
    /* position:relative; */
}

p {
    height: 50px;
    width: 35px;
    margin: 5px;
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
    font-size: 25px;
    padding-right: 50px;
    font-weight: bolder;
    /* position:relative; */
}


.container .navbarright {
    height: 50px;
    width: auto;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
    font-size: 20px;
    /* position:relative; */
}

.container1 .navbarright1 {
    height: 50px;
    width: auto;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    text-align: center;
    align-content: center;
    font-size: 20px;
    /* position:relative; */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    /* width: 100vw; */
    align-content: center;
    /* text-align: center; */
    background-image: url(./assets/b.jpg);
    background-size: cover;
    /* background-position: center;  */
    /* padding-left: 40%; */

}

.main .container3 {

    opacity: 50%;
    background-color: black;
    height: 300px;
    width: 700px;
    align-content: center;
    text-align: center;
    font-size: larger;
    border-radius: 45px;
}

.mainfont {
    font-size: larger;

    color: white;
}

.subscribe {
    margin: 50px;
    align-content: center;
    text-align: center;
}

.subscribe .subhead {
    font-size: 40px;
    margin-bottom: 1cm;
}

form input {
    width: 200px;
    height: 50px;
    font-size: 10px;
    padding-left: 0.5cm;
    /* align-content: center; */
    font-size: 20px;
    border-radius: 15px;
    border-color: #888888;
    opacity: 50%;
}

form button {
    width: 100px;
    height: 50px;
    /* align-content: center; */
    font-size: 20px;
    border-radius: 15px;
    border-color: #888888;
    opacity: 50%;
    background-color: lightgray;
}

.footer {

    align-content: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 100px;
}

.recommendation {
    background-color: rgb(132, 249, 132);
    /* height: 400px; */
    /* width: auto; */
    align-items: center;
    /* text-align: left; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    /* font-size: 35px; */
    padding: 2cm;
    /* margin: 40px; */
}
.Latest{
    /* align-items: center; */
    /* padding: 2cm; */
    /* margin-top: 1cm; */
    /* padding: 3cm; */
    display: flex;
    flex-wrap: wrap;
    margin: 2cm;
    /* justify-content: space-evenly; */
}
.Latest .country{
    width: 200px;
    height: 200px;
    background-color: rgb(132, 249, 132);
    margin-bottom: 1cm;
    font-size: larger;
    align-content: center;
    padding: 1cm;
    border-radius: 25px;
}
.Latest .date{
    width:200px;
    height: 200px;
    background-color:rgb(132, 249, 132);
    font-size: larger;
    align-content: center;
    padding: 1cm;
    border-radius: 25px;
}
font {
    padding-left: 4cm;
    font-size: 40px;
}

.posts {
    display: flex;
    /* padding: 0.5cm; */
    justify-content: space-evenly;
    /* background-color: orange; */
    flex-wrap: wrap;
    width: 83%;
    height: auto;
    /* margin: 1cm; */
}
.post1 {
    display: flex;
    /* border-style: dashed; */
    background-color:aliceblue;
    width: 85%;
    height: 300px;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap;  */
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 5px 5px #888888;
    /* border-block-start-color: blue; */
}
.sides {
    display: flex;
    /* padding: 0.5cm; */
    justify-content: space-evenly;
    /* background-color: orange; */
    flex-wrap: wrap;
    width: 10%;
    height: auto;
    /* margin: 1cm; */
}
.side1 {
    display: flex;
    padding: 0.5cm;
    /* margin: 1cm; */
    justify-content: space-evenly;
    /* background-color: yellow; */
    flex-wrap: wrap;
    width:auto;
    height: 200px;
    /* margin: 1cm; */
}
.images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img1 {
    display: flex;
    /* margin: 5%; */
    background-color:aliceblue;
    width: 600px;
    height: 600px;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    align-items: center;
    border-radius: 20px;
    margin: 10px;
}
.img1 img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.recommendbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1cm;
    align-content: center;
    font-size: 25px;
    font-style: bold;
    
}

.rhead {
    font-weight: bold;
    margin-bottom: 0.5cm;
}

.rbody {
    font-size: 20px;
    margin-bottom: 0.5cm;
}

.explore{
    width: 90%;
    height: 50px;
    font-size: large;
    background-color: orangered;
    border-radius: 15px;
    border: none;
}
.phead {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0.5cm;
    /* overflow-wrap: break-word; */
    /* overflow: hidden; */

}
.pbody{
    font-size: 20px;
    margin-bottom: 0.5cm;
    /* overflow: scroll; */

}
.read{
    /* text-align: right; */
    width: 25%;
    height: 50px;
    justify-content: right;
    font-size: medium;
    /* align-content: right; */
    background-color: orangered;
    border-radius: 15px;
    border: none;
}

.post1 img{
    margin: 1cm;
    height: 90%;
    width: 30%;
}